.servicesWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
  background-color: var(--gray-800);
  min-height: calc(100vh - 121px);

  .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-bottom: 64px;
    flex-wrap: wrap;

    .service {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      padding: 15px;
      width: 360px;
      text-align: center;
      box-shadow: var(--shadow);
      border-radius: 5px;
      height: 500px;
      gap: 30px;

      img {
        width: 220px;
      }

      p {
        line-height: 25px;
      }
    }
  }

  .backToTop {
    transform: rotate(180deg);
  }
}

@media screen and (max-width: 1280px) {
  .servicesWrapper {
    height: auto;
  }
}
