.cardWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 8px solid var(--orange-500);
  border-radius: 5px;
  width: 370px ;
  height: 420px;
  padding: 32px 32px 42px 32px;
  background-color: var(--secondary-color);
  margin: 0 20px 64px 20px;

  .technologies {
    display: flex;
    flex-wrap: wrap;

    .tool {
      text-transform: uppercase;
      padding: 0.5rem;
      border-bottom: 3px solid var(--orange-500);
      margin: 5px 5px 5px 0;
      font-size: 14px;
    }
  }

  .createdAt {
    color: gray;
    margin-top: 5px;
  }

  .description {
    line-height: 27px;
  }

  .buttons {
    margin-top: 15px;
  }
}
