a {
  scroll-behavior: smooth;

  .arrow {
    width: 27px;
    animation: arrow 2s ease-in-out infinite;
  }
}

@keyframes arrow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
